<form class="form" method="POST" >
  <div class="form-group">
    <label for="usernameAdmin">username Admin</label>
    <input type="text" class="form-control" id="usernameAdmin" name="usernameAdmin" value="{{this.username}}">
  </div>
  <div class="form-group">
    <label for="passwordAdmin">Password Amin</label>
    <input type="text" class="form-control" id="passwordAdmin" name="passwordAdmin"  value="{{this.password}}">
  </div>
  <button type="submit" class="btn btn-primary">Thay đổi</button>
  <a class="btn btn-success" href="/admin" role="button"> Quay về </a>
</form>